#plain-red {
  background: rgb(255, 0, 0);
}

#plain-blue {
  background: rgb(0, 4, 255);
}

#hotstar {
  background: linear-gradient(160deg, #18b2ff, #2472fe, #ac28eb, #f31887);
}

#bumblebee {
  background-image: linear-gradient(to right, hsl(60, 100%, 50%) 35%, black 69%);
  background-size: 100px, 100px;
}