:root {
  --bg-color : white;
  --fg-color : black ;
  --rounding : 15px;
}

* {
  padding: 0;
  margin: 0;
}

.frame {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

.navigation {
  position: fixed;
  display: flex;
  width: 330px;
  height: 100%;
}

.navigation nav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.nav-box {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  scrollbar-width: none;
  border: 7px solid var(--fg-color);
  border-radius: var(--rounding);
  width: 95%;
  height: 95%;
}

.nav-element {
  margin: 10px;  
  border: 7px solid var(--fg-color);
  border-radius: var(--rounding);
  height: auto;
  text-align: center;
  font-size: 30px;
}

.nav-header {
  position: sticky;
  top: 0;
  color: var(--bg-color);
  background-color: var(--fg-color);
}

.nav-brands {
  color: var(--fg-color);
  background-color: var(--bg-color);
}

.nav-brands:hover {
  color: var(--bg-color);
  background-color: var(--fg-color);
}

.content-container {
  display: flex;
  flex-direction: row;
  margin: 0 10px 0 340px ;
  width: 95%;
  height: 97%;
  /* border: 7px solid black; */
  /* border-radius: var(--rounding); */
}

.title-box {
  display: flex;
  width: 100%;
  height: 40px;
  /* margin: 15px; */
  border: 7px solid var(--fg-color);
  border-radius: var(--rounding);
  justify-content: center;
  align-items: center;
}
