:root {
  --bg-color : rgb(236, 236, 236);
  --fg-color : hsl(0, 0%, 24%) ;
  --container-margin: 4px;
  --border-rounding : 15px;
  --border-margin : 6px;
  --border-color : hsl(0, 0%, 65%);
  --content-margin : 0.5em;
  --content-font-size: 24px;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.canvas {
  margin-left: 20vw;
  width: 80vw;
  height: 100vh;
}

#nav-box {
  position: fixed; 
  width: 20vw; 
  height: 100vh; 
  background-color: rgb(255, 255, 255);
}